* {
padding: 0;

    body {

        header {


        }

        main {

            
            .campo-dados {
                width: fit-content;
                padding-left: 12px;
                border-radius: 8px;
                
                
                >legend {
                   

                }

                >div {
                    display: flex;
                    padding: 15px 15px 15px 0;
                    
                    

                    .campo {
                        margin: 8px 10px;
    
                    }

                }

                

            }

        }



    }


}