* {
    margin-top: 0;
    
    body {
        margin: 10px;

        h1 {
            margin-bottom: 50px;
            
        }
        
        div {
            margin-bottom: 30px;

            #imagem1 {
                width: 15%;

                animation-name: movimento;                  // Nome da Animação
                animation-duration: 2.5s;                   // Tempo da Animação em 2 segundos.
                animation-iteration-count: infinite;        // Nº de Repetições infinita
                transition-timing-function: ease-in-out;    // Melhora a fluidez da animação

                @keyframes movimento {                      // Descrição dos frames e propriedades da animação
                    0% { opacity: 0%;}
                    65% { transform: translateX(550px) ; opacity: 100%}
                    70% { transform: translateX(350px); opacity: 75%;}
                    100% { transform: translateX(550px); opacity: 100%;}
                }
            }

            #imagem2 {
                width: 20%;

                &:hover {                                       // Ao passar o mouse sobre a imagem, rotaciona em 90 graus.
                    transform: rotateZ(90deg)

                }
            }
       
            #botao {
                margin-left: 50px;
                padding: 45px;
                border-radius: 5%;

                &:hover {
                    animation-name: transição-cor;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    transition-timing-function: ease-in-out;

                    @keyframes transição-cor {      // Descrição dos frames e propriedades da animação, mudança na opacidade 
                        0% { opacity: 100%;}
                        100% { background-color: #27037D; opacity: 100%}
                    }

                }
            }

        }

    }

}