$h1Fonte: Arial, Helvetica, sans-serif;
$h1Cor: white;

* {
    margin: 0px;

    body {
        background-image: url(./FotoItaguaiCheckpoint.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        header { 
            position: relative;

            #nav-bar {
                position: -webkit-sticky;
                position: sticky;
                background: rgba(234, 232, 232, 0.7);
                border-radius: 10px;
                top: 0;
                

                #titulo {
                    font-family: $h1Fonte;
                    color: $h1Cor;
                    text-align: center;
                }

            }

        }
   
    }   
}